<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="assets\employee_favicon.png" sizes="32x32">
  <link rel="stylesheet" href="css/style.css">
  <meta name="Author" content="Ryan Scarbel">
  <title>Schedule</title>
</head>
<body>
  <% if(user) { %>

      <h1>Home Page</h1>
      <nav>
        <a href="/logout">Logout</a>
      </nav>
      <h3>Add or Remove Employees</h3>
      <div>
        <a href="/addEmployee"><button>+</button></a>
      </div>
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Availability</th>
        </tr>
        <%for (let i = 0;i<employees.length;i++) {%>
        <tr>
          <form method="POST" action="/employee/edit/<%=employees[i]._id%>">
          <td><%=employees[i].firstName%> <%=employees[i].lastName%></td>
          <td><%=employees[i].email%></td>
          <td><a href="/employee/delete/<%=employees[i]._id%>"><button type="button">-</button></a></td>
          <td><button type="button">Edit</button></td>
        </form>
        </tr>
        <%}%>

      </table>
      <a href="/schedule"><button>Back to Home</button></a>
  <% } else { %>
      <nav>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </nav>
  <% } %>
</body>
</html>