<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="assets\employee_favicon.png" sizes="32x32">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/edit.js"></script>
  <meta name="Author" content="Ryan Scarbel">
  <title>Schedule</title>
</head>
<body>
  <% if(user) { %>

      <h1>Home Page</h1>
      <nav>
        <a href="/logout">Logout</a>
      </nav>
      <h3>Add or Remove Employees</h3>
      <div>
        <a href="/addEmployee"><button>+</button></a>
      </div>
      <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th> </th>
          <th></th>
        </tr>
        <%for (let i = 0;i<employees.length;i++) {let id = employees[i]._id%>
        <tr>
          <script>
            let isEditable_<%=id%> = false;
          </script>
          <td  id="firstName-<%=id%>"><%=employees[i].firstName%></td>
          <td  id="lastName-<%=id%>"> <%=employees[i].lastName%></td>
          <td id="email-<%=id%>"><%=employees[i].email%></td>
          <td><a href="/employee/delete/<%=id%>"><button type="button">-</button></a></td>
          <td><button onclick="submitRequest(<%=id%>)" id="edit_<%=id%>" type="button">Edit</button></td>
        </tr>
        <%}%>
      </table>
      <a href="/schedule"><button>Back to Home</button></a>
  <% } else { %>
      <nav>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </nav>
  <% } %>
</body>
</html>